
body{
    color: white;
    background-color: navy;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#web_contents{
    color: white;
    float: right;
}

#AstronomyPic{
    border-style: solid;
    border-color: white;
    border-width: 3px;
    text-align: left;
}

a{
    color:white;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px
}

nav{
    text-align:center;
}

#Thankyou_section{
    text-align:center;
    font-style: italic;
    font-size: 14px;
}